.right-container {
  background-color: rgb(68, 218, 255);
  width: 50%;
  height: 100vh;
  margin: 0;
  display: inline-block;
  box-shadow: -100px -485px 100px rgb(0, 0, 0), -100px 485px 100px rgb(0, 0, 0);
  overflow-y:scroll;
}

.grid-container {

  margin: auto;
  background-color: black;
  width: 80%;
  height: 200vh;
}